<a href="https://colab.research.google.com/github/Widya-ags/Data-Frame-Pada-Python/blob/main/Copy_of_Tugas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dataset

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/jokoeliyanto/Kelas-Dasar-Pejuang-Data-2.0/main/Super-Store-Dataset.csv")
df.head()

         order_id  order_date customer_id  ...     sales quantity    profit
0  CA-2016-152156   11/8/2016    CG-12520  ...  261.9600        2   41.9136
1  CA-2016-152156   11/8/2016    CG-12520  ...  731.9400        3  219.5820
2  CA-2016-138688   6/12/2016    DV-13045  ...   14.6200        2    6.8714
3  US-2015-108966  10/11/2015    SO-20335  ...  957.5775        5 -383.0310
4  US-2015-108966  10/11/2015    SO-20335  ...   22.3680        2    2.5164

[5 rows x 9 columns]

## Variabel dataset

Variabel-variabel yang terdapat pada dataset ini adalah sebagai berikut:
1. **order_id** = Nomor ID pembelian(nota)
2. **order_data** = Tanggal pembelian
3. **customer_id** = Nomor ID pembeli
4. **segment** = Segmen produk 
5. **category** = Kategori produk
6. **sub_category** = Sub kategori produk
7. **sales** = Total harga pembelian
8. **quantity** = Jumlah produk dibeli
9. **profit** = Keuntungan

#Tugas Individu


1. Tentukan Segment mana dengan profit tertinggi!  [30]
2. Tentukan Category mana dengan sales terbanyak!  [30]
3. Tentukan Sub-Category dengan quantity paling sedikit! [40]





4. **Challange Question!!!  Tentukan Bulan dengan Profit Tertinggi!!!** 

Bonus Nilai 100 di Salah Satu Tugas Lainnya

#Mengimpor Library

In [1]:
import pandas as pd
import numpy as np

#Dataset

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/jokoeliyanto/Kelas-Dasar-Pejuang-Data-2.0/main/Super-Store-Dataset.csv")
df.head()

         order_id  order_date customer_id  ...     sales quantity    profit
0  CA-2016-152156   11/8/2016    CG-12520  ...  261.9600        2   41.9136
1  CA-2016-152156   11/8/2016    CG-12520  ...  731.9400        3  219.5820
2  CA-2016-138688   6/12/2016    DV-13045  ...   14.6200        2    6.8714
3  US-2015-108966  10/11/2015    SO-20335  ...  957.5775        5 -383.0310
4  US-2015-108966  10/11/2015    SO-20335  ...   22.3680        2    2.5164

[5 rows x 9 columns]

##1. menentukan segment mana dengan profit tertinggi

In [3]:
#melihat segment apa saja yang ada
df.segment.value_counts()

Consumer       5188
Corporate      3019
Home Office    1781
Name: segment, dtype: int64

In [14]:
#memilih masing-masing segment
df_Consumer=df[df['segment']=='Consumer']
df_Corporate=df[df['segment']=='Corporate']
df_Home_Office=df[df['segment']=='Home Office']

In [6]:
df_Consumer.profit.sum()

128959.22080000001

In [7]:
df_Corporate.profit.sum()

83579.158

In [15]:
df_Home_Office.profit.sum()

58189.7681

jadi segment produk dengan total keuntungan tertinggi adalah consumer.

##2. tentukan category mana dengan sales terbanyak?

In [17]:
#melihat category apa saja yang ada
df.category.value_counts()

Office Supplies    6026
Furniture          2121
Technology         1841
Name: category, dtype: int64

In [23]:
#memilih masing-masing category
df_Office_Supplies=df[df['category']=='Office Supplies']
df_Furniture=df[df['category']=='Furniture']
df_Technology=df[df['category']=='Technology']

In [20]:
df_Office_Supplies.sales.sum()

719047.032

In [21]:
df_Furniture.sales.sum()

741999.7953

In [24]:
df_Technology.sales.sum()

755815.72

jadi, kategori dengan total harga pembelian terbanyak adalah Technology

##3. tentukan sub-category mana dengan quality paling sedikit?

In [26]:
#melihat sub-category apa saja yang ada
df.sub_category.value_counts()

Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Art             796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        113
Copiers          64
Name: sub_category, dtype: int64

In [28]:
#memilih masing-masing sub-category
df_Binders=df[df['sub_category']=='Binders']
df_Paper=df[df['sub_category']=='Paper']
df_Furnishings=df[df['sub_category']=='Furnishings']
df_Phones=df[df['sub_category']=='Phones']
df_Storage=df[df['sub_category']=='Storage']
df_Art=df[df['sub_category']=='Art']
df_Accessories=df[df['sub_category']=='Accessories']
df_Chairs=df[df['sub_category']=='Chairs']
df_Appliances=df[df['sub_category']=='Appliances']
df_Labels=df[df['sub_category']=='Labels']
df_Tables=df[df['sub_category']=='Tables']
df_Envelopes=df[df['sub_category']=='Envelopes']
df_Bookcases=df[df['sub_category']=='Bookcases']
df_Fasteners=df[df['sub_category']=='Fasteners']
df_Supplies=df[df['sub_category']=='Supplies']
df_Machines=df[df['sub_category']=='Machines']
df_Copiers=df[df['sub_category']=='Copiers']

In [32]:
df_Binders.quantity.sum()

5974

In [33]:
df_Paper.quantity.sum()

5178

In [34]:
df_Furnishings.quantity.sum()

3563

In [35]:
df_Phones.quantity.sum()

3289

In [36]:
df_Storage.quantity.sum()

3158

In [37]:
df_Art.quantity.sum()

3000

In [38]:
df_Accessories.quantity.sum()

2976

In [39]:
df_Chairs.quantity.sum()

2356

In [40]:
df_Appliances.quantity.sum()

1729

In [41]:
df_Labels.quantity.sum()

1400

In [42]:
df_Tables.quantity.sum()

1241

In [43]:
df_Envelopes.quantity.sum()

906

In [44]:
df_Bookcases.quantity.sum()

868

In [45]:
df_Fasteners.quantity.sum()

914

In [46]:
df_Supplies.quantity.sum()

647

In [47]:
df_Machines.quantity.sum()

429

In [48]:
df_Copiers.quantity.sum()

218